.inputContainer {
  &__label {
    font-size: 14px;
    color: #58606e;
    line-height: 19px;
    margin-bottom: 6px;
  }

  &__input {
    border: 2px solid #e1e1e1;
    border-radius: 4px;

    &_border {
      border-color: #df2026;
    }

    &::placeholder {
      color: #58606e;
      font-size: 14px;
    }

    &:focus {
      border-color: #ffb80e;
    }
  }

  &__error {
    color: #df2026;
    font-size: 12px;
    line-height: 13px;
    margin-top: 8px;
  }
}
