.careersHeroContainer {
  font-family: "Red Hat Display";
  background-color: #f4f4f6;

  &__hero {
    height: 320px;
  }

  &__heading {
    font-size: 44px;
    color: #ffffff;
  }

  &__others {
    &:last-child {
      margin: 0;
    }
  }

  &__othersHeading {
    color: #08080b;
    line-height: 18px;
    font-size: 14px;
  }

  &__checkbox {
    font-size: 14px;

    &_margin {
      margin-bottom: 16px;
    }
  }
}
