.careersHeroContainer {
  font-family: "Red Hat Display";
  background-color: #f4f4f6;

  &__hero {
    height: 320px;
  }

  &__heading {
    font-size: 44px;
    color: #ffffff;
  }

  &__verticalLine {
    border-left: 2px dashed #ffb80e;
  }

  &__others {
    &:last-child {
      margin: 0;
    }
  }

  &__othersHeading {
    color: #08080b;
    line-height: 18px;
    font-size: 14px;
  }

  &__checkbox {
    font-size: 14px;

    &_margin {
      margin-bottom: 16px;
    }
  }
}

@media only screen and (min-width: 512px) {
  .careersHeroContainer {
    &__hero {
      height: 359px;
    }

    &__heading {
      font-size: 52px;
    }

    &__others {
      margin: 0;
    }

    &__checkbox {
      margin-bottom: 16px !important;
    }
  }
}

@media only screen and (min-width: 816px) {
  .careersHeroContainer {
    &__heading {
      font-size: 52px;
    }

    &__others {
      margin: 0;
    }

    &__checkbox {
      margin-bottom: 16px !important;
    }
  }
}
