.categoriesNavbarContainer {
  margin-top: 312px;
  height: 64px;
  touch-action: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

  &__navbar {
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      top: 0;
      pointer-events: none;
      width: 0;
      height: 100%;
      transition: width 0.5s;
    }

    &_fadingLeft::before {
      width: 100px;
      left: 0;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    }

    &_fadingRight::after {
      width: 100px;
      right: 0;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    }
  }

  &__item {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #58606e;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 32px);
      height: 1px;
      background-color: #ff2828;
      left: 16px;
      bottom: 2px;
      pointer-events: none;
      transform-origin: 50% 100%;
      transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
      clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
    }

    &_active {
      color: #ff2828;
    }

    &_active::before {
      transform: translate3d(0, 2px, 0) scale3d(1, 2, 1);
      clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
    }
  }

  &__itemText {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  }
}

@media (hover: hover) and (pointer: fine) {
  .categoriesNavbarContainer__item {
    &:hover {
      color: #ff2828;
    }

    &:hover::before {
      transform: translate3d(0, 2px, 0) scale3d(1, 2, 1);
      clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
    }
  }
}

@media only screen and (min-width: 816px) {
  .categoriesNavbarContainer {
    margin-top: 496px;
  }
}

@media only screen and (min-width: 1024px) {
  .categoriesNavbarContainer {
    margin-top: 416px;
  }
}

@media only screen and (min-width: 1440px) {
  .categoriesNavbarContainer {
    margin-top: 370px;
  }
}
