.checkboxContainer {
  color: #58606e;

  &:last-child {
    margin-bottom: 0;
  }

  &__checkMark {
    border-radius: 4px;
    border: 2px solid #08080b;

    &::after {
      content: "";
      position: absolute;
      display: none;
      background-image: url(/images/svgs/checkmark.svg);
      height: 8px;
      width: 10px;
      left: 1px;
      top: 2px;
    }
  }

  & input:checked ~ &__checkMark {
    border-color: #ff2828;

    &::after {
      display: block;
    }
  }

  &:hover {
    color: #08080b;
  }
}
