.cartModalContainer {
  &__heading {
    font-size: 32px;
    line-height: 48px;
    color: #cc6700;
    text-shadow: 0px 0px 10px rgba(255, 193, 71, 0.69);
  }

  &__subtotal {
    font-size: 14px;
    line-height: 18px;
    color: #58606e;
  }

  &__totalHeading {
    font-size: 18px;
    line-height: 24px;
    color: #611220;
  }
}
