.backToTopContainer {
  width: 48px;
  height: 48px;
  background-color: #eaeaea;
  left: 48px;
  bottom: 48px;
  border: 1px solid #ff0033;

  &__innerCircle {
    height: 0;
    width: 0;
    transition: all 0.3s;
    background-color: #ff0033;
  }

  &__arrowUp {
    transition: transform 0.3s;
  }

  &__arrowDown {
    transition: transform 0.3s;
    transform: translateY(30px);
  }

  &:hover {
    .backToTopContainer {
      &__innerCircle {
        height: 48px;
        width: 48px;
      }

      &__arrowUp {
        transform: translateY(-30px);
      }

      &__arrowDown {
        transform: translateY(0);
      }
    }
  }
}
