.footerContainer {
  font-family: "Red Hat Display", sans-serif;
  background-color: #08080b;
  font-size: 15px;

  &__anchor {
    color: #d9d9ec;

    &:hover {
      color: #fab729;
      text-shadow: 0px 0px 10px rgba(255, 193, 71, 0.69);
    }
  }

  &__credits {
    color: #58606e;

    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(90deg, rgba(255, 43, 86, 0) 1.69%, #ff2b56 95.76%);
      height: 1px;
      bottom: 0;
      right: 0;
      width: 100%;
    }

    &:hover::after {
      width: 50px;
    }
  }

  &__companyName {
    color: #e1e1e1;
  }
}
