.locationsContainer {
  font-family: "Red Hat Display", sans-serif;

  &__heading {
    color: #fab729;
    font-size: 14px;
    font-weight: 700;
  }

  &__address {
    color: #e1e1e1;
  }

  &__anchor {
    color: #ffffff;
    font-size: 14px;
  }
}
